#root {
        display: flex;
        margin: 0 auto;
        padding: 2rem;
        text-align: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: flex-end;
        align-items: center;
  }
  
  
  

 
  
  
  
  