.card {
    display: flex;
    flex-direction: column;
    width: 15%;
    padding: 15px;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
    border: 3px var(--border-color) solid;
    margin: 5px;
  }
  
  .img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .presentacion {
    margin-top: 10px;
  }
  
  .h2, .h3 {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        width: 100%; 
        overflow: hidden;          
        white-space: nowrap; 
        word-break: normal;
  }
  
  .favButton {
    background-color: var(---background-color);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .favButton:hover {
    background-color:var(----background-color);
  }

  a, .link {
    text-decoration: none; 
    color: inherit;         
  }