.foot{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: var(---background-color);
}

.logoDH{
    width: 20%;
    height: 10%;
    color: var(--text-color);
}

.DH{
    width: 2%;
    height: 10%;
}

.power{
    font-size:3vh ;
    height: 10%;
}