.nav {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(---background-color);
  }
  
  .back {
    background-color: transparent;
    border: none;
    font-size: 5vh;
    color: var(--text-color);
  }
  
  .change {
    background-color:transparent;
    border: none;
    cursor: pointer;
    font-size: 5vh;
  }
